@model IEnumerable<Admin>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["successAdmin"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong> @TempData["successAdmin"]
    </div>
    <h3>Woo Hoo</h3>
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Admin List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Admin" asp-action="Create" class="btn btn-info">
               <i class="bi bi-plus-circle-fill"></i> &nbsp; Create New Admin Account
            </a>
        </div>
        <hr>
    </div>


    <table class="table table-bordered">
        <thead>
            <tr>
                    <th>
                        Admin Id
                    </th> 
                    <th>
                        First Name
                    </th> 
                    <th>
                        Middle Name
                    </th> 
                    <th>
                        Last Name
                    </th> 
                    <th>
                        User Name
                    </th>
                    <th>
                        Password
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Updated
                    </th>
                    <th>

                    </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td>
                        @row.AdminId
                    </td>
                    <td>
                        @row.FirstName
                    </td>
                    <td>
                        @row.MiddleName
                    </td>
                    <td>
                        @row.LastName
                    </td>
                    <td>
                        @row.Username
                    </td>
                    <td>
                        <i id=@string.Concat(row.Username, "eye") class="bi bi-eye-fill btn btn-outline-danger" onclick="getElementById('@row.Username').className=getElementById('@row.Username').className === 'visible' ? 'invisible' : 'visible'; getElementById('@string.Concat(row.Username, "eye")').className=getElementById('@row.Username').className === 'visible' ? 'bi bi-eye-slash-fill btn btn-outline-success' : 'bi bi-eye-fill btn btn-outline-danger'; "></i>

                        <span id =@row.Username class="invisible">
                            @row.Password
                        </span>
                    </td>
                    <td>
                        @row.Created
                    </td>
                    <td>
                        @row.Updated
                    </td>
                    <td>
                        <div class="w-75 btn-group bth" role="group">
                            <a asp-asp-controller="Admin" asp-action="Edit" asp-route-id ="@row.AdminId" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <i> &nbsp; </i>
                            <a asp-asp-controller="Admin" asp-action="Delete" asp-route-id ="@row.AdminId" class="btn btn-danger">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
